body {
	background:linear-gradient(to right, #F8F9F9, #ABB2B9); 
	
}
#cloud {
	position: fixed;
	bottom: 0;
	left: 0; 
	opacity: .8;
	z-index: 1;
}
#rocket img {
	width: 150px;
	z-index: 10;
	bottom: 0;
  position:absolute;
  left: 50%;
transform: translate(-50%, -50%);
  animation:  
       MoveUp 1s linear infinite;
}
#fire img {
	animation: 1s fadeIn linear infinite,
						MoveUpFire 1s linear infinite;
	visibility: hidden;
	width: 75px;
	position: absolute;
	z-index: 8;
	bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  

}
@keyframes MoveUpFire {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 200px;
  }
  80% {
  	bottom: 265px;
  }
  100% {
    bottom: 500px;
  }
}
@keyframes fadeIn {
  50% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
    bottom: 150px;

  }
  80% {
    visibility: visible;
    bottom: 250px;
    opacity: .5;
  }

}
@keyframes MoveUp {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 200px;
  }
  80% {
  	bottom: 300px;
  }
  100% {
    bottom: 500px;
  }
}

#rocket {
	width: 200px;
	height: 20%;
}
